* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("images/bg-pattern-desktop.svg"), linear-gradient(135deg, hsl(0, 23%, 56%), hsl(0, 100%, 98%));
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.form-container {
  width: 500px; /* Increased the width */
  max-width: 90%; /* Set a maximum width */
  margin: 20px auto;
  padding: 30px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.submit-btn {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background-color: #472dbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #4565a0;
}

p {
  margin-top: 15px;
  text-align: center;
  color: #777;
}
